.iconVinhflix{
    font-size: 35px;
    color: red;
    margin: 0px 0px -20px -7px;
}
.BottomBody{
   
    border-bottom: 8px solid #222;
    padding: 60px 5%;
    color: red;
    overflow: hidden;
   
}
.SpanFooterVflix{
    color: #dc0510;
    margin-left: 2px;
}

.Form{
    display: flex;
    flex-direction: column;
    /* min-height: 200px !important; */
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 5px;
    box-sizing: border-box;
    width: 100%;
    margin: auto;
    max-width: 450px;
    padding: 60px 68px 40px;
    margin-bottom: 100px;
    z-index: 1;
    margin-top: 10px !important;
    
}
/* méo hiểu kiểu gì styled-component không ăn css nên css ngoài file này */