.iconVinhflix{
    font-size: 35px;
    color: red;
    margin: 0px 0px -20px -7px;
}
.BottomBody{
   
    border-bottom: 8px solid #222;
    padding: 60px 5%;
    color: red;
    overflow: hidden;
   
}

/* méo hiểu kiểu gì styled-component không ăn css nên css ngoài file này */